@charset "utf-8";
/* CSS Document */
body {
	background-color:#fcfcfc !important;
	min-width:1200px;
	overflow:auto;
}
.con-title {
	box-sizing:content-box !important;
	height:30px;
	background-color:#f4f8fb;
	border-bottom:1px #eee solid;
	box-shadow: 0px 2px 3px #b6c0c7;
	padding:10px 20px;
	margin-bottom:20px;
}
.con-title h1.con-title-h1 {
	float:left;
	font-size:20px;
	color:#333;
	line-height:30px;
	margin:0px;
}
.con-title-btns {
	float:right;
	height:30px;
}
.title-btn, .seach-btn {
	border-style:none;
	display:inline-block;
	padding:4px 20px;
	font-family:"Microsoft YaHei", verdana;
	color:#fff;
	background-color:#51aded;
	text-align:center;
	font-size:14px;
	line-height:22px;
	border-radius:2px;
	cursor:pointer;
	margin-left:5px;
}
.title-btn:hover, .seach-btn:hover {
	text-decoration:none;
	color:#fff;
	background-color:#27a9e3;
}
.seach-btn {
	background-color:#5cc861;
}
.seach-btn:hover {
	background-color:#53bd58;
}
.seach-tab {
	width:100%;
	border-style:none !important;
}
.seach-tab td {
	padding:2px 6px;
	line-height:24px;
	color:#333;
	font:14px '微软雅黑', Verdana, Geneva, sans-serif;
	border-style:none !important;
}
.seach-box {
	box-sizing:content-box !important;
	background-color:#f9f9f9;
	border:1px #cdcdcd solid;
	margin-bottom:20px;
}
.seach-box-tit {
	height:34px;
	background-color:#efefef;
	color:#000;
	font:14px '微软雅黑', Verdana, Geneva, sans-serif;
	padding:0px 15px;
	line-height:34px;
	border-bottom:1px #cdcdcd solid;
}
.seach-box-con {
	padding:15px;
}
.con-input {
	box-sizing:content-box !important;
	width:140px;
	height:24px !important;
	padding:2px 4px !important;
	border:1px #bfc6cb solid;
	font:14px '微软雅黑', Verdana, Geneva, sans-serif;
	line-height:24px !important;
}
.con-texta {
	box-sizing:content-box !important;
	width:300px;
	padding:4px !important;
	border:1px #bfc6cb solid;
	font:14px '微软雅黑', Verdana, Geneva, sans-serif;
	line-height:24px !important;
}
.con-tab {
	width:100%;
	margin-bottom:20px;
	border-left:1px #cdcdcd solid;
	border-top:1px #cdcdcd solid;
}
.con-tab th, .con-tab td {
	padding:3px 8px;
	color:#78787f;
	font:14px '微软雅黑', Verdana, Geneva, sans-serif;
	line-height:26px;
	border-bottom:1px #cdcdcd solid;
	border-right:1px #cdcdcd solid;
}
.con-tab th {
	line-height:30px;
	color:#000;
	font-size:15px;
	background-color:#e4e6ea;
}
.con-tab td a {
	text-decoration:none;
	color:#27a9e3;
}
.con-tab td a:hover {
	text-decoration:underline;
}
.con-tab td.center {
	text-align:center;
}
.con-tab tr.hasbgc {
	background-color:#f4f8fb;
}
.from-tab {
	width:100%;
	border-style:none !important;
}
.from-tab td {
	padding:8px;
	line-height:28px;
	color:#333;
	font:14px '微软雅黑', Verdana, Geneva, sans-serif;
	border-style:none !important;
	border-bottom:1px #e4e7e9 dashed !important;
}
.from-tab td.right {
	text-align:right;
}
.from-tab td span.tipspan {
	font-size:12px;
	color:#999;
	line-height:28px;
}
.from-tab td span.red {
	color:red;
	line-height:28px;
}
.sub-box {
	clear:both;
	padding-bottom:20px;
}
.sub-btn {
	border-style:none;
	padding:8px 30px;
	line-height:24px;
	color:#fff;
	font:16px "Microsoft YaHei", Verdana, Geneva, sans-serif;
	cursor:pointer;
	margin-right:30px;
	border:1px #028fbd solid;
	-webkit-box-shadow:inset 0px 0px 1px #fff;
	-moz-box-shadow:inset 0px 0px 1px #fff;
	box-shadow:inset 0px 0px 1px #fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-shadow:1px 1px 0px #45a1d6;
	background-color:#31c0f0;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#31c0f0), to(#1cabda));
	background-image: -webkit-linear-gradient(top, #31c0f0 0%, #1cabda 100%);
	background-image: -moz-linear-gradient(top, #31c0f0 0%, #1cabda 100%);
	background-image: -ms-linear-gradient(top, #31c0f0 0%, #1cabda 100%);
	background-image: -o-linear-gradient(top, #31c0f0 0%, #1cabda 100%);
	background-image: linear-gradient(top, #31c0f0 0%, #1cabda 100%);
}
.sub-btn:hover{
	background-color:#1cabda;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#1cabda), to(#31c0f0));
	background-image: -webkit-linear-gradient(top, #1cabda 0%, #31c0f0 100%);
	background-image: -moz-linear-gradient(top, #1cabda 0%, #31c0f0 100%);
	background-image: -ms-linear-gradient(top, #1cabda 0%, #31c0f0 100%);
	background-image: -o-linear-gradient(top, #1cabda 0%, #31c0f0 100%);
	background-image: linear-gradient(top, #1cabda 0%, #31c0f0 100%);
}