<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--资源共享平台-->
    <add key="ResoureUrl" value="http://localhost:4575"/>
    <!--作业平台-->
    <add key="HomeWorkUrl" value="http://localhost:3047/Admin"/>
    <!--监控平台-->
    <add key="SafeMonitorUrl" value="http://www.sohu.com"/>
    <!--CMS平台-->
    <add key="CmsUrl" value="http://jsfzzx.ntchst.com:8091/jeeadmin/jeecms/index.do"/>
    <!--BBS平台-->
    <add key="BbsUrl" value="http://www.ntchst.com:8091/jeebbs/jeeadmin/jeebbs/login.do"/>
    <!--退出API接口地址,多个系统分号隔开-->
    <add key="LoginOutUrl" value="http://localhost:4575/login/OutLogin;http://jsfzzx.ntchst.com:8091/sso/ptlogout.jspx;http://www.ntchst.com:8091/jeebbs/sso/ptlogout.jspx;http://localhost:3047/login/OutLogin;"/>
    <!--登录接口地址,多个系统分号隔开-->
    <add key="LoginUrl" value="http://localhost:4575/Login/LoginSSO?type=user;http://jsfzzx.ntchst.com:8091/sso/ptlogin.jspx?type=cms;http://jeebbs.ntchst.com:8091/jeebbs/sso/ptlogin.jspx?type=bbs;http://localhost:3047/Login/LoginSSO?type=zyhd;"/>

    <!--大文件上传地址-->
    <add key="javaUploadUrl" value="http://stream.ntgzjy.com/stream/tk" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
  <add name="JSZX_ResourceEntities" connectionString="metadata=res://*/Models.JSZX_ResourceEntities.csdl|res://*/Models.JSZX_ResourceEntities.ssdl|res://*/Models.JSZX_ResourceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=JSZX_Resource;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>